.subscribe {
    width: 100%;
    margin-bottom: 30rem;

    &__content {
        width: 40%;
        margin: 0 auto;
        text-align: center;

        @include for-size(tablet) {
            width: 60%;
        }
    }

    &__input {
        margin: 3rem;
    }
}